{% extends 'base.html' %}

{% block content %}

<div class="container-fluid about-parallax"></div>

<section data-aos="fade-up" class="mt-5 mb-5 pt-5 pb-5 text-center">
        <div class="container about-page">
          <h1 class="jumbotron-heading" >About BaheCommerce</h1>
          <p class="lead text-muted">Clink Different</p>
          <p class="pb-5"><h2 style="color:#D5BF8E">The world-famous palm oil of BaheCommerce come from a palmoilmaking tradition stretching back over 20 centuries. The famous palm oil,
            prestigious african palm oil and historic sites along the BaheCommerce Route reveal the rich heritage of the West Africa.</h2></p>
          <p>
            <hr>
            <br>
            <a href="{% url 'get_posts' %}" class="btn btn-dark rounded-0 btn-sm my-2"> PalmOilFruit</a>
            <a href="{% url 'all_products2' %}" class="btn btn-dark rounded-0 btn-sm my-2"> PalmOils</a>
          </p>
        </div>
</section>
{% endblock %}
