@import url('https://fonts.googleapis.com/css?family=Simonetta:100,200,300,400,500,600,700,800');

body, html {
  font-family: 'Simonetta', sans-serif;
  background-color: fff;
  scroll-behavior: smooth;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.messages li {
  list-style-type: none;
}

.messages ul li {
  list-style-type: none;
}

/*   reviews  ----------------------------------- */
.review-header {
  font-size: 100px !important;
  height: 36vh;
  margin-left: 10px;
  margin-right: 10px;
}

.review-name {
  position: relative;
  text-shadow: 0 0 14px black;
}

.review-header-sm {
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 0 0 14px black;
}

.review-info-area {
  margin: 20px 10px 20px 10px;
  padding: 10px;
  background-color: #0E53A7;
  border-radius: 4px;
}

.review-form {
  margin-top: 30px;
}

.review-inner-header {
  margin-top: 20px;
  min-height: 30px;
  font-size: 20px;
}

.review-sm-img {
  height: 190px;
}

/*   Navbar ----------------------------------- */

.navbar {
  background: #4a7b8f;
  font-family: 'Simonetta', sans-serif;
  margin-bottom: 0px;
  font-size: 19px;
}

.contariner-logo {
  background: #4a7b8f;
}

.logo--main {
  background: #4a7b8f;
}

.navbar li a {
  color: #D5BF8E !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'Simonetta', sans-serif;
}

.container .navbar-toggler {
  border-radius: 0px;
}


.navbar-dark .navbar-toggler button {
  padding: 100px;
}

/* Parallax ---------------------------------*/
.parallax-text {
  color: #ffffff;
  position: fixed;
  top: 100;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.parallax-text h1 {
  font-weight: 500;
  font-family: 'Simonetta', sans-serif;
}

/*   About Page ----------------------------------- */
.about-parallax {
  background: url("/static/img/bordeaux.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
  background-attachment: fixed;
  filter: brightness(70%);
}

.about-page h2 {
  font-family: 'Simonetta', sans-serif;
}

.jumbotron-heading {
  color: #D5BF8E;
  font-family: 'Simonetta', sans-serif;
}

.map-div {
  margin-bottom: 40px;
}

.contact-section {
  margin: 14px;
  margin-top: 40px;
}

/*   Products ----------------------------------- */
.products-showcase .btn-dark {
  color: #D5BF8E;
  background: #fff;
}

.products-showcase {
  color: #D5BF8E;
  Padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Simonetta', sans-serif;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.row-images {
  display: flex;
  justify-content: space-between;
}

.img-mini-banner {
  width: 100%;
}

.title-homepage {
  text-align: center;
  color: yellow;
  vertical-align: middle;
  font-weight: 200;
  font-size: 3em;
  font-family: 'Simonetta', sans-serif;
}

.add-checkout-div {
  padding-right: 1em;
  padding-left: 1em;
}

.card-content {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  /* align-items: flex-end; */
}

/*   Products Search----------------------------------- */
* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 20vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .search_box {
    width: 95%;
  }
}

.main {
  margin: auto;
  width: 100%;
}

.main input, button {
  border: 2px solid white;
  border-right: 0px;
  font-size: 18px;
  padding: 12px;
  background-color: #4a7b8f;
  color: white;
}

.main input:hover {
  opacity: .8;
}

.main button {
  width: 25%;
  background-color: #eee;
  color: black;
  transition: all 0.3s;
  float: right;
  border-left: 0px;
}

.main button:hover {
  opacity: .8;
}

/*   Parallax ----------------------------------- */
.parallax {
  background: url("/static/img/paralax2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35em;
  background-attachment: fixed;
  filter: brightness(70%);
}

.input-add-checkout {
  width: 30%;
  margin-left: 2em;
}

.title-product-link {
  color: #D5BF8E !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: 'Simonetta', sans-serif;
}

.card-title a:hover {
  text-decoration: none;
  color: #D5BF8E;
}

/*   Blog section ----------------------------------- */
.img-fluid {
  max-width: 30%;
  height: auto;
}

/*   Contact ----------------------------------- */
.contact-section {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #e6e6e6;
}

.contact-section .medium {
  margin: 50px;
}

.content-wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.maps {
  padding-bottom: 20px;
}

/* Product detail Page CSS ----------------------------------- */
.add-checkout-div-product {
  padding-top: 2em;
}

/*  Cart Page ----------------------------------- */
.input-cart {
  width: 20%;
}

.div-checkout-pay {
  text-align: right;
  padding-right: 3em;
}

.list-unstyled li a {
  color: black;
  text-decoration: none;
}

.list-unstyled li a:hover {
  color: grey;
}

.votes-form {
  display: inline;
}

/*   Footer ----------------------------------- */
.mini-banner-section {
  padding: 2em;
}

.push {
  height: 50px;
}

#myFooter {
  background-color: #4a7b8f;
  color: #D5BF8E;
  padding-top: 30px;
}

.footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .row {
  margin-bottom: 60px;
}

.footer-copyright p {
  margin: 10px;
  color: #D5BF8E;
  text-transform: uppercase;
  font-size: smaller;
  font-family: 'Simonetta', sans-serif;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-family: 'Simonetta', sans-serif;
  font-size: 18px;
  color: #D5BF8E;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter h2 a {
  font-family: 'Simonetta', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #D5BF8E;
}

#myFooter a {
  color: #D5BF8E;
  text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
  text-decoration: none;
  color: #D5BF8E;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

#myFooter .social-networks a {
  font-size: 20px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
  font-family: 'Simonetta', sans-serif;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
  color: #f9f9f9;
}

.footer-links {
  text-align: center;
  text-transform: uppercase;
}

.footer-img img {
  width: 80%;
}

/*   Media Queries ----------------------------------- */
@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }

  .card {
    width: 100%;
  }
}
